MT5_LOGIN=11969037
MT5_PASSWORD=F3Ygh!66
MT5_SERVER=VantageInternational-Demo
MT5_TERMINAL_PATH=C:\Program Files\Vantage International MT5\\terminal64.exe
API_BASE_URL=http://127.0.0.1:8000
RUNNER_INTERVAL_SECONDS=60
DEFAULT_SYMBOL=XAUUSD
